@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
.container-fluid {
  margin: 0;
  padding: 0;
}
.logo {
  font-family: "Luckiest Guy", cursive;
  color: white;
  font-size: "40px";
  letter-spacing: "10px";
}
.icon {
  border: 1px solid white;
  background-color: aliceblue;
}
.navbar-toggler {
  border: 1px solid white;
  background-color: aliceblue;
}
.brand {
  border-radius: 5px;
}
.logo {
  font-weight: bold;
  padding: 0 10px;
}
.nav-links {
  font-weight: 460px;
  color: white;
}
.nav-links:hover {
  border-bottom: 1px solid white;
}
.img {
  color: white;
}
.navbar {
  background-color: #11174c;
}
.input:focus {
  border: none;
}
#sticky {
  position: fixed;
  z-index: 1;
}
